
<script>

    //Chart global  
    const border_width = 4.5;
    const line_tension = 0.1;
    const point_BackgroundColor = "rgba(255, 255, 255, 0.52)";
    const point_Radius = 3.5;
    const point_BorderWidth = 2;
    const point_HoverRadius = 8;
    const point_HoverBorderWidth = 2;
    const point_HoverBorderColor = "rgba(31, 31, 31, 0.8)"
    const point_HoverBackgroundColor = "rgba(238, 238, 238, 0.66)"

    //Labels list const
    const labels = [{% for item in month_list %} //labels
                            "{{item}}",
                            {% endfor %}];

    //Interest list const
    const interest_list = [ {% for item in interest_list  %} //Interest payment
                                        {{item}},
                                        {% endfor %}];

    //Principle payment list const
    const principle_payment_list = [ {% for item in principle_payment_list  %} //Payment towards principal
                                        {{ item }},
                                        {% endfor %}]

    //////////////////////////////////////////////
    //Interest vs Principle payment chart setup //
    //////////////////////////////////////////////
    const data = {
            labels: labels,//Months
            datasets: [{
                
                //Dataset 1
                label: 'Interest',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgba(254, 75, 75, 1)',
                //Styling
                borderColor: "rgba(254, 75, 75, 1)",
                borderWidth: border_width,
                fill: false,
                lineTension: line_tension,
                backgroundColor: "rgba(236, 236, 236, 0.52)",
                //Line border
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                //Point 
                pointBorderColor: "rgba(254, 75, 75, 1)",
                pointBackgroundColor: point_BackgroundColor,
                pointBorderWidth: point_BorderWidth,
                pointRadius: point_Radius,
                //Point Hover
                pointHoverRadius: point_HoverRadius,
                pointHoverBackgroundColor: point_HoverBackgroundColor,
                pointHoverBorderColor: point_HoverBorderColor,
                pointHoverBorderWidth: point_HoverBorderWidth,
                pointHitRadius: 1 , 
                
                data: interest_list, //Interest list
                },
                {
                //Dataset 2
                label: 'Principle',
                backgroundColor: 'rgba(95, 211, 89, 1)',
                borderColor: 'rgba(95, 211, 89, 1)',
                //Styling

                borderWidth: border_width,
                fill: false,
                lineTension: line_tension,
                backgroundColor: "rgba(236, 236, 236, 0.52)",
                //Line border
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                //Point 
                pointBorderColor: "rgba(95, 211, 89, 1)",
                pointBackgroundColor: point_BackgroundColor,
                pointBorderWidth: point_BorderWidth,
                pointRadius: point_Radius,
                //Point Hover
                pointHoverRadius: point_HoverRadius,
                pointHoverBackgroundColor: point_HoverBackgroundColor,
                pointHoverBorderColor: point_HoverBorderColor,
                pointHoverBorderWidth: point_HoverBorderWidth,
                pointHitRadius: 1 , 


                data: principle_payment_list, //Principal payment list
                }
            ]
    };
  
    const config = {
      type: 'line',
      data: data,
      
      options: { //Interest vs Principal chart options
        animations: {
            tension: {
            duration: 10000,
            easing: 'linear',
            from: 1,
            to: 0,
            loop: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Interest vs Principal Payment',
                padding: {
                    top: 10,
                    bottom: 30
                }
            }
        },//Plugins end
        scales: {
            y: {
                ticks: {
                    // Include a GBP sign in the ticks
                    callback: function(value, index, ticks) {
                        return '£' + value;
                    }
                },
                title: {
                    display: true,
                    text: 'Payment'
                }
            },//Y End 
            x: {
                title: {
                    display: true,
                    text: 'Months'
                }
            }//X End
        }//scales end
      }
    };
  </script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>