<table class="table">
    <thead>
      <tr>
   
        <th scope="col">Month </th>
        <th scope="col">Interest</th>
        <th scope="col">Principal Payment</th>
        <th scope="col">Accrued Interest</th>
        <th scope="col">Principal Balance</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range(0,month_list|length) %}
        <!-- use modulus to calculate month excluding month 1-->
        {% if i % 12 == 0 and i != 0 %} 
            <!-- Change colour if meets modulus -->
            <tr class="table-info font-weight-bold">
        <!-- If not modulus -->
        {% elif i % 12 != 0 %}
            <tr class="text-muted">

        {% elif i == 0 %} <!--First Row -->
            <tr class="table-warning">
        {% endif %}

        {% if i == month_list[-1] %} <!--Last Row -->
            <tr class="table-success">
        {% endif %}
            <td >{{ month_list[i] }}</td>
            <td>{{ '{:,}'.format(interest_list[i]) }}</td> <!--Formated for thousands-->
            
            {% if interest_list[i] == 0 %}
                <td>0</td>
            
            {% elif interest_list[i] != 0 %}

            <td>{{ p_payment(interest_list[i],min_payment) }}
            
            {% endif %}
            <td>{{ '{:,}'.format(accrued_interest_list[i]) }}</td> <!--Formated for thousands-->
            <td>{{ '{:,}'.format(principal_list[i]) }}</td> <!--Formated for thousands-->
          
        </tr>
        
    {% endfor %}
    </tbody>
</table>
</div>

<div class="container text-center" style="padding: 10">
    <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
        <div class="lead text-center">
            Repayment would take <strong> {{ years_to_pay }}</strong> years and <strong>{{ months_to_pay }}</strong> months
        </div>
        
        <div class="lead text-center">Total accrued interest would be <strong>{{ accrued_total }}</strong></div>
        <div class="lead text-center">Total to payback is <strong>{{total_payback}} </strong> 
                on an initial principal of <strong>{{'{:,}'.format(principal)}}</strong>, of which <strong>{{accrued_percentage}}% </strong>is in interest 
            </div>
    </div>
</div>
<div class="container text-center" style="padding: 10">
    <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
            <div class="lead text-center">If you were to take out a loan, the repayment would be <strong>{{comp_simp_display}}</strong> less</div>
            <div class="lead text-center">This would mean paying <strong>{{final_princ_perc_comp}}%</strong> less</div>
        </div>
      </div>