
{% extends "base.html" %}
{% block content %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src=".js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<style>
.my_container {
    width: 70%;
    margin: auto;
    border: 0px solid #73AD21;
  }

.error-message {
border: 2px solid rgba(255, 0, 0);
color: black;
font-weight: bold;
padding: 3px;
background-color: rgb(243, 173, 173);
border-radius: 5px;
}

</style>
<div class="container-md ">
    <!--title div-->
    <div class="my_container rounded-2 text-center"> 
            <h3>Credit Card Repayment Calculator</h3>
    </div>

    <!--form div-->
    <div class="my_container text-center" style="padding: 10">
        <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
                <form id="IndexForm" action="" method="post">
                    <!-- Form content -->
                    <div class="container-md ">
                        <div class="row justify-content-md-center jumbotron">

                                    {{ form.hidden_tag() }}
                                <div class="row justify-content-md-center">
                                    <div class="col-sm-3 ">
                                        <label>{{ form.apr.label()}}</label> 
                                        {{ form.apr(class="form-control form-control-lg") }}
                                        {% if form.apr.errors %}
                                        <div class="col">
                                        {% for error in form.apr.errors %}
                                            <div class="error-message mt-3">
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                                </div> 
                            
                                    <div class="col-sm-3 ">
                                        <label>{{ form.min_pay.label()}}</label> 
                                        {{ form.min_pay(class="form-control form-control-lg") }}
                                        {% if form.min_pay.errors %}
                                        <div class="col">
                                        {% for error in form.min_pay.errors %}
                                            <div class="error-message mt-3">
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                                        </div>
                                    </div> 
                                    <div class="col-sm-3  ">
                                        <label>{{ form.debt_balance.label()}}</label>
                                        {{ form.debt_balance(class="form-control form-control-lg") }}
                                        {% if form.debt_balance.errors %}
                                        <div class="col">
                                        {% for error in form.debt_balance.errors %}
                                            <div class="error-message mt-3">
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                                    </div>
                                </div>
                   
                        </div>
                    </div>
                    
                    <div class="row justify-content-md-center mx-auto " style="width: 200px; padding:20px">
                            {{ form.submit(class="btn btn-primary btn-lg") }}
                    


                    </div>
                </form>
        </div>
    </div>       

{% if check_debt_valid == true %}
 <!--information panel div open-->
<div class="my_container " style="background-color:darkgray"> 
    <div class="container text-center" style="padding: 10">
        <div class=" p-5 bg-dark-subtle rounded-2 text-center">
            <div class="lead text-center"> 
                Repayment would take <strong> {{ years_to_pay }}</strong> years and <strong>{{ months_to_pay }}</strong> months
            </div>
            
            <div class="lead text-center">Total accrued interest would be <strong>{{ accrued_total }}</strong></div>
            <div class="lead text-center">Total to payback is <strong>{{total_payback}} </strong> 
                    on an initial principal of <strong>{{'{:,}'.format(principal)}}</strong>, of which <strong>{{accrued_percentage}}% </strong>is in interest 
                </div>
        </div>
    </div>
    <div class="container text-center" style="padding: 10">
        <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
                <div class="lead text-center">If you were to take out a loan, the repayment would be <strong>{{comp_simp_display}}</strong> less</div>
                <div class="lead text-center">This would mean paying <strong>{{final_princ_perc_comp}}%</strong> less</div>
            </div>
        </div>

        
        <!--divider-->
    <div class="container text-center" style="padding: 10">
        <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
        <div>
            <div class="lead text-center">If you were to take out a loan, the repayment would be <strong>{{comp_simp_display}}</strong> less</div>
            <div class="lead text-center">This would mean paying <strong>{{final_princ_perc_comp}}%</strong> less</div>
            <div class="lead text-center">Your loan accrued interest would be <strong>{{si_accrued_int}}</strong> which is <strong>{{accrued_percent_comparison}}%</strong> percent less than your credit card</div>
            <div class="lead text-center">The loan would be paid off in <strong>{{si_years_no}}</strong> years and <strong>{{si_month_no}}</strong> months, which is (time difference)% difference in time duration</div>
            <div class="lead text-center">it would take you <strong>{{comp_years}}</strong> years and <strong>{{final_month}}</strong> months more to pay off your credit card debt </div>

        </div>


    </div>
    <div class="container text-center" style="padding: 10">
        <div class="d-inline-flex p-5 bg-dark-subtle rounded-2 text-center ">
            <p>Total to pay back on initial principal is {{si_pri_interest}}</p>
            <p>Total years is {{si_years_no}} and month {{si_month_no}}</p>
            <p>accrued interest is {{si_accrued_int}}</p>
            <p>total percentage paid {{si_percent_paid}}</p>
        </div>  
    </div>  
    </div>
</div>
<!--information panel div close-->

<!--<div class="m-4">-->
    <div class="accordion" id="myAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">View breakdown of payments</button>									
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse">
                <div class="card-body">
                    <table class="table">
                        <thead>
                          <tr>
                       
                            <th scope="col">Month </th>
                            <th scope="col">Interest</th>
                            <th scope="col">Principal Payment</th>
                            <th scope="col">Accrued Interest</th>
                            <th scope="col">Principal Balance</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for i in range(0,month_list|length) %}
                            <!-- use modulus to calculate month excluding month 1-->
                            {% if i % 12 == 0 and i != 0 %} 
                                <!-- Change colour if meets modulus -->
                                <tr class="table-info font-weight-bold">
                            <!-- If not modulus -->
                            {% elif i % 12 != 0 %}
                                <tr class="text-muted">
                
                            {% elif i == 0 %} <!--First Row -->
                                <tr class="table-warning">
                            {% endif %}
                    
                            {% if i == month_list[-1] %} <!--Last Row -->
                                <tr class="table-success">
                            {% endif %}
                                <td >{{ month_list[i] }}</td>
                                <td>{{ '{:,}'.format(interest_list[i]) }}</td> <!--Formated for thousands-->
                                
                                {% if interest_list[i] == 0 %}
                                    <td>0</td>
                                
                                {% elif interest_list[i] != 0 %}
                
                                <td>{{ p_payment(interest_list[i],min_payment) }}
                                
                                {% endif %}
                                <td>{{ '{:,}'.format(accrued_interest_list[i]) }}</td> <!--Formated for thousands-->
                                <td>{{ '{:,}'.format(principal_list[i]) }}</td> <!--Formated for thousands-->
                              
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        <!--</div>-->

<!-- Interest vs Principal chart type open -->
<!-- Interest vs Principal chart type open -->
<!-- Interest vs Principal chart type open -->
<div>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>

<script>

    //Chart global  
    const border_width = 4.5;
    const line_tension = 0.1;
    const point_BackgroundColor = "rgba(255, 255, 255, 0.52)";
    const point_Radius = 3.5;
    const point_BorderWidth = 2;
    const point_HoverRadius = 8;
    const point_HoverBorderWidth = 2;
    const point_HoverBorderColor = "rgba(31, 31, 31, 0.8)"
    const point_HoverBackgroundColor = "rgba(238, 238, 238, 0.66)"

    //Labels list const
    const labels = [{% for item in month_list %} //labels
                            "{{item}}",
                            {% endfor %}];

    //Interest list const
    const interest_list = [ {% for item in interest_list  %} //Interest payment
                                        {{item}},
                                        {% endfor %}];

    //Principle payment list const
    const principle_payment_list = [ {% for item in principle_payment_list  %} //Payment towards principal
                                        {{ item }},
                                        {% endfor %}]

    //////////////////////////////////////////////
    //Interest vs Principle payment chart setup //
    //////////////////////////////////////////////
    const data = {
            labels: labels,//Months
            datasets: [{
                
                //Dataset 1
                label: 'Interest',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgba(254, 75, 75, 1)',
                //Styling
                borderColor: "rgba(254, 75, 75, 1)",
                borderWidth: border_width,
                fill: false,
                lineTension: line_tension,
                backgroundColor: "rgba(236, 236, 236, 0.52)",
                //Line border
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                //Point 
                pointBorderColor: "rgba(254, 75, 75, 1)",
                pointBackgroundColor: point_BackgroundColor,
                pointBorderWidth: point_BorderWidth,
                pointRadius: point_Radius,
                //Point Hover
                pointHoverRadius: point_HoverRadius,
                pointHoverBackgroundColor: point_HoverBackgroundColor,
                pointHoverBorderColor: point_HoverBorderColor,
                pointHoverBorderWidth: point_HoverBorderWidth,
                pointHitRadius: 1 , 
                
                data: interest_list, //Interest list
                },
                {
                //Dataset 2
                label: 'Principle',
                backgroundColor: 'rgba(95, 211, 89, 1)',
                borderColor: 'rgba(95, 211, 89, 1)',
                //Styling

                borderWidth: border_width,
                fill: false,
                lineTension: line_tension,
                backgroundColor: "rgba(236, 236, 236, 0.52)",
                //Line border
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                //Point 
                pointBorderColor: "rgba(95, 211, 89, 1)",
                pointBackgroundColor: point_BackgroundColor,
                pointBorderWidth: point_BorderWidth,
                pointRadius: point_Radius,
                //Point Hover
                pointHoverRadius: point_HoverRadius,
                pointHoverBackgroundColor: point_HoverBackgroundColor,
                pointHoverBorderColor: point_HoverBorderColor,
                pointHoverBorderWidth: point_HoverBorderWidth,
                pointHitRadius: 1 , 


                data: principle_payment_list, //Principal payment list
                }
            ]
    };
  
    const config = {
      type: 'line',
      data: data,
      
      options: { //Interest vs Principal chart options
        animations: {
            tension: {
            duration: 10000,
            easing: 'linear',
            from: 1,
            to: 0,
            loop: true
            }
        },
        plugins: {
            title: {
                display: true,
                text: 'Interest vs Principal Payment',
                padding: {
                    top: 10,
                    bottom: 30
                }
            }
        },//Plugins end
        scales: {
            y: {
                ticks: {
                    // Include a GBP sign in the ticks
                    callback: function(value, index, ticks) {
                        return '£' + value;
                    }
                },
                title: {
                    display: true,
                    text: 'Payment'
                }
            },//Y End 
            x: {
                title: {
                    display: true,
                    text: 'Months'
                }
            }//X End
        }//scales end
      }
    };
  </script>

<script>
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>





<!-- Interest vs Principal chart type close -->
<!-- Interest vs Principal chart type close -->
<!-- Interest vs Principal chart type close -->

{% elif check_debt_valid == false %}
    <div class="jumbotron">
    <h3>Debt not valid, increase minimum payment {{ years_to_pay}}</h3>
    </div>

{% endif %}
{% endblock %}


