<div class="container text-center" style="padding: 10px;"> <!-- Bootstrap container for center alignment and padding -->
    <div class="p-5 bg-dark-subtle rounded-2 text-center"> <!-- Bootstrap classes for padding, background, rounded corners, and text alignment -->
        <!-- Your dynamic content here -->
        <div class="lead text-center">Repayment would take <strong>{{ years_to_pay }}</strong> years and <strong>{{ months_to_pay }}</strong> months</div>
        <div class="lead text-center">Total accrued interest would be <strong>{{ accrued_total }}</strong></div>
        <div class="lead text-center">Total to pay back would be <strong>{{ total_payback }}</strong></div>
        <!-- More content... -->
    </div>
 </div>
