<!DOCTYPE html>
<html>
<head>
    <title>Custom Validation</title>
</head>
<body>
    <h1>Custom Validation</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.password.label }}: {{ form.password }}
        <br>
        {{ form.confirm_password.label }}: {{ form.confirm_password }}
        <br>
        {{ form.apr.label }}: {{ form.apr }}
        <br>
        {% for error in form.password.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
