
{% extends "base.html" %}
{% block content %}

<p>Credit Card debt calculator</p>

<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <form class="form-group" action="" method="post">
            <!-- Form content -->
            
                {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col-sm-2 ">{{ form.apr.label()}} {{ form.apr() }}</div> 
            </div>
            <div class="form-row">
                <div class="col-sm-2 ">{{ form.min_pay.label()}} {{ form.min_pay() }}</div> 

            </div>
            <div class="form-row"></div>
                <div class="col-sm-2 ">{{ form.debt_balance.label()}} {{ form.debt_balance() }}</div>
            </div>
            <div class="form-row">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

<!-- Display form data TEST -->
{% if form.apr.data and form.min_pay.data and form.debt_balance.data is not none %}
<div class="container">

    <div class="row">
        <div class="col-md">
            APR {{ form.apr.data}}
        </div>
        <div class="col-md">
            Montly Payment {{ form.min_pay.data}}
        </div>
        <div class="col-sm">
            Initial Balance {{ form.debt_balance.data}}
        </div>
    </div>
<div>
    {{apr_data}}
    

    <!--<p>Total paid in interest is {{fm_accum_int_amt_list[-1]}}</p>-->
    <!--<p>APR test data is s {{converted_apr_test}}</p>-->
    <!--{{fm_debt_viable}}-->

{% endif %}

<!-- Display debt viability e.g. more than 20 years-->
{% if fm_debt_viable  %}
    
    <!--{{fm_debt_viable}}-->


            {% for i in fm_month_n_list %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-sm">Month</div>
                        <div class="col-sm">{{ i+1 }}</div><!-- Add one to not start at 0 -->
                    </div>
                    
                    <div class="row">         
                        <div class="col-sm">Balance</div>
                        <div class="col-sm">{{fm_debt_var_list[i]}}</div> <!-- Add one to not start at 0 -->
                    </div>

                    <div class="row">
                        <div class="col-sm">Paid in interest</div>
                        <div class="col-sm">{{fm_accum_int_amt_list[i]}}</div> <!-- Add one to not start at 0 -->
                    </div>
                </div>
            </div>
            {% endfor %}


{% elif fm_debt_viable is false %}

    {{fm_debt_viable}}
    <p>This debt is not viable </p>

{% endif %}

{% endblock %}

